<!DOCTYPE HTML>
<html>
	<head>
		<title>Farmville</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Farmville</h1>
				<strong>	<h2>Farmer Dashboard</h2></strong>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">
				<br>
				<br>


				<!-- Banner
					<section id="intro" class="main">
						 <img src="./static/images/signup.jpg" height="250" width="250">

						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="/Addp"><img src="./static/images/signup.jpeg" alt="" /></a>
								<h2> Add New Product</h2>
							</header>
							<p id='tooli'></p>
							</p>
							<ul class="actions">
								<li><a href="/Addp" id="tool" class="button"> Add</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="/accept"><img src="./static/images/login.jpg" alt="" /></a>
								<h2>Accept Awaiting Orders</h2>
							</header>
							<p id="regedit">
							<ul class="actions">
								<li><a a href="/accept" id="rec" class="button">Accept</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="./static/images/location.png" alt="" /></a>
								<h2>Track Previous Order</h2>
							</header>

							<ul class="actions">
								<li><a href="/mapbasic" class="button">View</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="./static/images/aboutus.png" alt="" /></a>
								<h2>Check Balance</h2>
							</header>

							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Getting Groceries Straight From The Farm!</h2>
						<p></p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>
					</section>


					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/skel.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


	</body>

</html>
